body {
  margin: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post-container {
  padding: 2px;
  border-radius: 0.5em;
}

.post-title {
  color: #010101;
}

.post-title:hover {
  color: #010101;
  text-decoration: underline;
}

/*animate*/

.posts-appear {
  opacity: 0;
}

.posts-enter {
  opacity: 1;
  transform: scale(0.95);
}

.posts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 200ms;
}

.posts-exit {
  opacity: 1;
  transform: scale(0.9);
}

.posts-exit-active {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 300ms, transform 200ms;
}

.post-container pre code {
 
}
.common-label {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  color: #010101;
  border-bottom: 2px dotted #010101;
  border-radius: 0;
}
