@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  background: white;
  padding: 0;
  margin: 0;
  width: 100%;
}
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Consolas, Menlo, Monaco, "Courier New",
    monospace;
}

.post-title:hover {
  text-decoration: underline;
}
.timeline-container {
  margin-top: 14em;
  font-family: inherit;
}
.categories-container {
  margin-top: 14em;
}
.tags-container {
  margin-top: 14em;
}
.widget-label {
  font-size: 90%;
  display: inline-block;
  margin: 2px 3px 10px 1px;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}
.widget-label:hover {
  text-decoration: underline;
}
.widget-container {
  font-family: inherit;
  color: #010102;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-top: 14rem;
  box-shadow: 0px 0px 2px 1px #e2e2e5;
  font-family: "JetBrains Mono";
  background-color: whitesmoke;
}
.widget-tags-container {
  margin-top: 3rem;
}
.widget-container .title {
  font-family: "Open Sans";
}
.menu-container {
  margin-bottom: 5em;
}
.post-category {
  padding: 3px;
  color: white;
  display: inline-block;
  border-radius: 2px;
  font-family: "JetBrains Mono";
}
.post-category:hover {
  text-decoration: underline;
}
.post-tag {
  padding: 3px;
  display: inline-block;
  margin: 2px;
  font-family: "JetBrains Mono";
}
.post-time em {
  font-family: "JetBrains Mono";
  color: #010102;
}
.post-tag:hover {
  text-decoration: underline;
}
.layout-container {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
.layout-center-container {
  margin-top: 4rem;
}
.post-container {
  /* border: 1px solid #e1e4e8; */
  border-radius: 8px;
  padding: 1.5em;
  /* box-shadow: 0px 0px 1px 1px #eff1f3; */
}
.post-container .catalog {
  font-family: "JetBrains Mono";
}
.post-container a {
  color: #1a365d;
}
.post-previous-next {
  font-weight: 900;
}
.breadmenu-container {
  font-family: "Open Sans", Georgia, Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  min-width: 100%;
  height: 75px;
  text-align: center;
  /* background-image: linear-gradient(
    to right,
    black 0%,
    #1a202c 50%,
    black 100%
  ); */
  background-color: whitesmoke;
  box-shadow: 0 0 2px 1px #bfc2c4;
  z-index: 1000;
}
.breadmenu-container .title {
  color: whitesmoke;
  display: block;
  font-weight: 900;
  font-size: 3em;
  margin-top: 5px;
}
.breadmenu {
  display: inline-block;
  right: 0;
  padding: 0;
  width: 330px;
  font-weight: bold;
  text-align: left;
  background-color: inherit;
  font-family: inherit;
  /* border-bottom: 1px solid #d0d2d6; */
  /* box-shadow: 0 0 1px 2px #e3e4e6; */
}
.breadmenu-container .my-logo {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.breadmenu-container .my-logo img {
  width: 100%;
  height: 100%;
  display: inline;
}

.breadmenu-content {
  padding: 10px 0 0px 10px;
}
.breadmenu-content .ui.breadcrumb {
  padding-top: 5px;
}
.ui.breadcrumb .section {
  /* color: #e2f6fc; */
  font-weight: 900;
  color: #161b22;
  padding: 1px 3px 1px 3px;
  border-radius: 1px;
}
.ui.breadcrumb .section.active {
  color: rebeccapurple;
}
.ui.ui.breadcrumb .section:hover {
  color: rebeccapurple;
}
.ui.breadcrumb .divider {
  color: whitesmoke;
}
.footer-container {
  font-family: inherit;
  text-align: center;
  color: whitesmoke;
  background: #171923;
  background-image: linear-gradient(
    to right,
    black 0%,
    #171923 50%,
    black 100%
  );
  position: fixed;
  width: 100%;
  clear: both;
  position: relative;
  height: 180px;
  bottom: -180px;
}
.footer-container .logo {
  font-weight: 900;
  color: whitesmoke;
}
.ui.grid > .row {
  padding: 0;
  margin: 0;
}
.mobile-menu {
  background: #161b22;
  min-height: 65px;
  max-height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
}
.mobile-menu .logo {
  display: inline-block;
  margin-top: 3px;
  width: 40px;
  height: 40px;
}
.mobile-menu .title {
  display: inline-block;
  margin-top: 5px;
}
.mobile-menu-content {
  background: #161b22;
  position: fixed;
  z-index: 1000;
  top: 63px;
  left: 0;
  width: 100%;
  height: 240px;
  padding: 5px 0 0 10px;
  text-align: left;
}
.mobile-menu-content a {
  width: 100%;
  display: inline-block;
  font-weight: 900;
}
.mobile-menu-button {
  color: #bee3f8;
  background-color: #010101;
  position: fixed;
  top: 22px;
  left: 10px;
}

.mobile-menu-enter {
  transform: translateY(-305px);
  opacity: 0;
}
.mobile-menu-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms, opacity 350ms;
}
.mobile-menu-exit {
  transform: translateY(0);
  opacity: 1;
}
.mobile-menu-exit-active {
  transform: translateY(-305px);
  opacity: 0;
  transition: transform 350ms, opacity 300ms;
}

.posts-enter {
  opacity: 0;
  transform: scale(0.9);
}
.posts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.posts-exit {
  opacity: 1;
}
.posts-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.catalog-container {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 65px;
  z-index: 999;
  background-color: #0d1117;
  border-radius: 0 3px 3px 0;
  width: 230px;
  height: 100%;
  border-right: 1px solid #e1e4e8;
  overflow: scroll;
}
.catalog-container-switch {
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 1000;
  background-color: #171923;
  border-radius: 0 5px 5px 0;
  height: 100px;
  width: 30px;
  border-width: 1px 1px 1px 0;
  border-color: #e1e4e8;
  border-style: solid;
  cursor: pointer;
}
.catalog-container-switch .name {
  position: absolute;
  color: #010102;
  margin-top: 40px;
  margin-left: 5px;
}
.catalog-container ul:only-child {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.catalog-container li > ul {
  margin-left: -1.5em;
}
.catalog-container ul > ul {
  margin-left: -1.5em;
}
.catalog-container li {
  list-style-type: none;
  border-left: 1px solid transparent;
  margin-left: 0;
  margin-top: 0.2em;
  padding-left: -30px;
}
.catalog-container li a {
  padding-left: 1em;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1px;
  border-radius: 2px;
}
.catalog-container li a:hover {
  background-color: #182030;
}
.catalog-container li a::before {
  /* content: "\f105"; */
  content: "";
  position: absolute;
  top: 8px;
  left: -5px;
  bottom: 50%;
  width: 0.25em;
}

.catalog-container ul > li:last-child {
  border-left: 1px solid transparent;
}

.catalog-enter {
  transform: translateX(-250px);
}
.catalog-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.catalog-exit {
  transform: translateX(0);
}
.catalog-exit-active {
  transform: translateX(-250px);
  transition: transform 500ms;
}
.catalog-switch-enter {
  transform: translateX(-50px);
}
.catalog-switch-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.catalog-switch-exit {
  opacity: 1;
}
.catalog-switch-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

.ui .header {
  font-family: "Open Sans", Fangsong, "仿宋", STSong, STFangsong;
}
.desktop-menu-search {
  background-color: #0d1117;
  height: 30px;
  border: 2px solid #a99f8b;
  border-radius: 5px;
  width: 250px;
  margin: 0 0.5em 0 0.5em;
  padding: 2px 10px 2px 10px;
  font-size: 90%;
}
.desktop-menu-search:focus {
  outline: none;
  color: #fff;
}
.searchbox-container {
  position: fixed;
  top: 40px;
  left: 76px;
  background-color: #0d1117;
  width: 400px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #a99f8b;
  border-radius: 0 0 10px 10px;
  max-height: 600px;
  overflow: scroll;
  outline: none;
}
.back-to-top {
  position: fixed;
  bottom: 0;
  width: 65px;
  right: 0px;
  display: inline;
  background-color: black;
  z-index: 1001;
  padding: 0;
  margin: 0;
}
.markdown-area {
  max-width: 100%;
  min-width: 100%;
  overflow: scroll;
  height: 400px;
}
