body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  font-family: Cambria, Georgia, "Times New Roman", FangSong, "仿宋", SimSun,
    PMingLiU, STFangsong, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑",
    serif;
}

code {
  font-family: source-code-pro, Consolas, Menlo, Monaco, "Courier New",
    monospace;
}
.ui.header {
  font-family: Cambria, Georgia, "Times New Roman", FangSong, "仿宋", SimSun,
    PMingLiU, STFangsong, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑",
    serif;
}

.post-title {
  color: #011623;
}

.post-title:hover {
  color: #011623;
  text-decoration: underline;
}

/*animate*/

.common-label {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  color: #c9d1d9;
  border-radius: 0;
  font-size: 110%;
}
.common-label:hover {
  color: #c9c9c9;
  text-decoration: underline;
}
.common-label-container {
  margin-left: 2rem;
}
.menu-container {
  margin-bottom: 5em;
}
.post-category {
  padding: 3px;
  background-color: #010101;
  color: white;
  display: inline-block;
  border-radius: 2px;
}
.post-category:hover {
  color: white;
  text-decoration: underline;
}
.post-tag {
  padding: 3px;
  color: #011623;
  border: 1px solid #011623;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.post-tag:hover {
  color: #010101;
  text-decoration: underline;
}
.layout-container {
  color: white;
  padding-left: 5px;
}
.layout-center-container {
  margin-top: 4rem;
}
.post-container {
  color: inherit;
  background-color: #f7fafc;
  border-radius: 1px;
  padding: 10px 0 0 5px;
}
.ui.pagination.pointing.secondary.menu .item {
  color: white;
}
.ui.pagination.pointing.secondary.menu .item:hover {
  color: #bee3f8;
}
.ui.pagination.pointing.secondary.menu .active.item {
  color: white;
  border-bottom: 2px solid #bee3f8;
}
.post-previous-next {
  font-weight: 900;
  color: #bee3f8;
}
.breadmenu {
  background: #161b22;
  background: linear-gradient(to left, #161b22, #000, #171923);
  position: fixed;
  z-index: 1000;
  min-height: 55px;
  max-height: 55px;
  padding: 15px 0 0 0;
  text-align: center;
  font-family: "Lato", "Times New Roman", Cambria, Georgia, FangSong, "仿宋",
    SimSun, PMingLiU, STFangsong, "Microsoft YaHei", "微软雅黑", STXihei,
    "华文细黑", serif;
}
.ui.breadmenu .section {
  color: #e2f6fc;
  padding: 1px 3px 1px 3px;
  border-radius: 1px;
}
.ui.breadmenu .section:hover {
  color: gray;
}
.ui.breadmenu .divider {
  color: #feebc8;
}
/* .ui.breadmenu .section.active {
  background-color: #805ad5;
} */
.timeline-container {
  color: white;
  font-family: Cambria, Georgia, "Times New Roman", FangSong, "仿宋", SimSun,
    PMingLiU, STFangsong, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑",
    serif;
}
.timeline-container a {
  color: #f7fafc;
}
.timeline-container a:hover {
  text-decoration: underline;
}
.footer-container {
  text-align: center;
  margin-top: 1rem;
  background-color: inherit;
  font-family: "Lato";
}
.timeline-label {
  background-color: #171923;
  padding: 3px;
  font-size: 85%;
  border-radius: 2px;
}
.mobile-menu {
  background: #171923;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  opacity: 0.99;
  padding: 8px 0 0 16px;
  position: fixed;
  z-index: 1000;
  top: 0;
  cursor: pointer;
}
.mobile-menu-content {
  background: #101010;
  position: fixed;
  z-index: 100;
  top: 55px;
  width: 100%;
  padding: 8px 0 0 16px;
}
.mobile-menu-content a {
  width: 100%;
  display: inline-block;
  font-size: 105%;
  font-weight: 900;
}
.mobile-menu-button {
  color: #bee3f8;
  background-color: #010101;
}

.posts-enter {
  opacity: 0;
  transform: scale(0.9);
}
.posts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.posts-exit {
  opacity: 1;
}
.posts-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.timeline-post-title {
  font-size: 1.2em;
  font-weight: 900;
}
