@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap");
@font-face {
  font-family: "charter";
  font-weight: 400;
  font-style: normal;
  src: local("charter"),
    url(./assets/fonts/charter-400-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "charter";
  font-weight: 400;
  font-style: italic;
  src: local("charter"),
    url(./assets/fonts/charter-400-italic.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "charter";
  font-weight: 900;
  font-style: normal;
  src: local("charter"),
    url(./assets/fonts/charter-700-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "charter";
  font-weight: 900;
  font-style: italic;
  src: local("charter"),
    url(./assets/fonts/charter-700-italic.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "sohne";
  font-weight: 400;
  font-style: normal;
  src: local("sohne"), url(./assets/fonts/sohne-400-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "sohne";
  font-weight: 500;
  font-style: normal;
  src: local("sohne"), url(./assets/fonts/sohne-500-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "sohne";
  font-weight: 700;
  font-style: normal;
  src: local("sohne"), url(./assets/fonts/sohne-700-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "fell";
  font-weight: 400;
  font-style: normal;
  src: local("fell"), url(./assets/fonts/fell.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "fell";
  font-weight: 700;
  font-style: normal;
  src: local("fell"), url(./assets/fonts/fell-blod.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "GT Super";
  font-weight: 400;
  font-style: normal;
  src: local("GT Super"),
    url(./assets/fonts/gt-super-400-normal.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "mell";
  font-weight: 400;
  font-style: normal;
  src: local("mell"), url(./assets/fonts/mell.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "charter", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", RobCanteen, "Helvetica Neue", Arial, "NCanteen Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "NCanteen Color Emoji"; */
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  height: 100%;
  background: white;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 15px;
}
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
.post-title {
  color: #212121;
}
.post-title:hover {
  color: #000;
  text-decoration: underline;
}
.timeline-container {
  margin-top: 14em;
  font-size: 14px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.categories-container {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 14em;
  font-size: 14px;
}
.tags-container {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 14em;
  font-size: 14px;
}
.widget-label {
  display: inline-block;
  margin: 5px 3px 5px 1px;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}
.widget-label:hover {
  text-decoration: underline;
}
.widget-container {
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-top: 14rem;
  box-shadow: 0px 0px 2px 1px #e2e2e5;
  background-color: whitesmoke;
  font-size: 14px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widget-tags-container {
  margin-top: 3rem;
}
.widget-container .title {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.menu-container {
  margin-bottom: 5em;
}
.post-category {
  padding: 3px;
  color: #a9a9a9;
  display: inline-block;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 900;
  font-family: sohne, Georgia, Cambria, "Times New Roman", Times, serif;
}
.post-category:hover {
  color: #a9a9a9;
  text-decoration: underline;
}
.post-tag {
  padding: 3px;
  display: inline-block;
  margin: 2px;
  color: #a9a9a9;
  font-family: sohne, Georgia, Cambria, "Times New Roman", Times, serif;
}
.post-tag:hover {
  text-decoration: underline;
  color: #a9a9a9;
}
.post-time em {
  font-family: "charter";
  color: #010102;
}
.layout-container {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
.layout-center-container {
  margin-top: 4rem;
}
.post-container {
  /* border-left: 1px solid #e7ebee; */
  border-radius: 2px;
  padding: 0.1em;
  /* padding-left: 2.5em; */
  /* background-color: whitesmoke; */
  /* box-shadow: 0px 0px 2px 1px #d3d3d4; */
}
.post-container .catalog {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.8;
}
.post-card {
  overflow: hidden;
}
.post-previous-next {
  /* font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif; */
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.post-background {
  margin: 0;
  z-index: -100;
  width: 100%;
  overflow: hidden;
  height: 700px;
  min-height: 700px;
}
.post-background img {
  min-height: 700px;
}
.breadmenu-container {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  min-width: 100%;
  height: 80px;
  text-align: right;
  /* background-image: linear-gradient(
    to right,
    black 0%,
    #1a202c 50%,
    black 100%
  ); */
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  /* box-shadow: 0 0 1px 1px #e0e0e0; */
  z-index: 1000;
}
.breadmenu-container .title {
  color: whitesmoke;
  display: block;
  font-weight: 900;
  font-size: 3em;
  margin-top: -12px;
}
.breadmenu-container .website-title a {
  font-family: charter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: fixed;
  font-size: 21px;
  left: 22vh;
  top: 20px;
  color: black;
  /* border-top: 2px solid #000;
  border-bottom: 2px solid #000; */
  padding-top: 8px;
  padding-bottom: 10px;
}
.breadmenu {
  display: inline-block;
  right: 0;
  padding: 0;
  width: 440px;
  font-weight: bold;
  text-align: left;
  background-color: inheyerit;
  margin-top: 20px;
  margin-right: 15vh;
  height: 40px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* border-bottom: 1px solid #d0d2d6; */
  /* box-shadow: 0 0 1px 2px #e3e4e6; */
}
.custom-button {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 400;
  padding: 4px 12px;
  margin: 5px;
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
  background-color: #6b46c1;
}
.edit-post-container {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui.breadcrumb a {
  color: white;
}
.ui.breadcrumb a:hover {
  color: white;
}
.custom-button:hover {
  color: white;
  background-color: #44337a;
}
.breadmenu-container .my-logo {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.breadmenu-container .my-logo img {
  width: 100%;
  height: 100%;
  display: inline;
}

.breadmenu-content {
  padding: 10px 0 0px 10px;
}
.breadmenu-content .ui.breadcrumb {
  padding-top: 5px;
}
.ui.breadcrumb .section {
  /* color: #e2f6fc; */
  font-family: charter;
  font-weight: 500;
  color: rgba(41, 41, 41, 1);
  padding: 1px 3px 1px 3px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui.breadcrumb .section.active {
  color: #99cd32;
}
.ui.ui.breadcrumb .section:hover {
  color: #99cd32;
}
.ui.breadcrumb .divider {
  color: #000;
}
.footer-container {
  font-family: charter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: fixed;
  /* background-color: #fed7e2; */
  background-color: #0f1014;
  width: 100%;
  clear: both;
  position: relative;
  height: 170px;
  bottom: -320px;
}
.footer-website-name {
  font-family: charter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  margin: 0.2em;
}
.footer-website-name a {
  /* color: rgba(41, 41, 41, 1); */
  color: white;
}
.footer-website-info {
  font-size: 14px;
  color: white;
}
.footer-container .logo {
  font-weight: 900;
  color: whitesmoke;
}
.ui.grid > .row {
  padding: 0;
  margin: 0;
}
.mobile-menu {
  background: #171923;
  /* box-shadow: 0 0 1px 1px #e4e6e7; */
  min-height: 65px;
  max-height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
}
.mobile-menu .logo {
  display: inline-block;
  margin-top: 3px;
  width: 40px;
  height: 40px;
}
.mobile-menu .title {
  display: inline-block;
  margin-top: 5px;
}
.mobile-menu-content {
  background: #161b22;
  position: fixed;
  z-index: 1000;
  top: 63px;
  left: 0;
  width: 100%;
  height: 240px;
  padding: 5px 0 0 10px;
  text-align: left;
}
.mobile-menu-content a {
  width: 100%;
  display: inline-block;
  font-weight: 900;
}
.mobile-menu-button {
  color: #bee3f8;
  position: fixed;
  top: 22px;
  left: 10px;
}

.mobile-menu-enter {
  transform: translateY(-305px);
  opacity: 0;
}
.mobile-menu-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms, opacity 350ms;
}
.mobile-menu-exit {
  transform: translateY(0);
  opacity: 1;
}
.mobile-menu-exit-active {
  transform: translateY(-305px);
  opacity: 0;
  transition: transform 350ms, opacity 300ms;
}

.posts-enter {
  opacity: 0;
  transform: scale(0.9);
}
.posts-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.posts-exit {
  opacity: 1;
}
.posts-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.catalog-container {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 65px;
  z-index: 999;
  background-color: #0d1117;
  border-radius: 0 3px 3px 0;
  width: 230px;
  height: 100%;
  border-right: 1px solid #e1e4e8;
  overflow: scroll;
}
.catalog-container-switch {
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 1000;
  background-color: #171923;
  border-radius: 0 5px 5px 0;
  height: 100px;
  width: 30px;
  border-width: 1px 1px 1px 0;
  border-color: #e1e4e8;
  border-style: solid;
  cursor: pointer;
}
.catalog-container-switch .name {
  position: absolute;
  color: #010102;
  margin-top: 40px;
  margin-left: 5px;
}
.catalog-container ul:only-child {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.catalog-container li > ul {
  margin-left: -1.5em;
}
.catalog-container ul > ul {
  margin-left: -1.5em;
}
.catalog-container li {
  list-style-type: none;
  border-left: 1px solid transparent;
  margin-left: 0;
  margin-top: 0.2em;
  padding-left: -30px;
}
.catalog-container li a {
  padding-left: 1em;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1px;
  border-radius: 2px;
}
.catalog-container li a:hover {
  background-color: #182030;
}
.catalog-container li a::before {
  /* content: "\f105"; */
  content: "";
  position: absolute;
  top: 8px;
  left: -5px;
  bottom: 50%;
  width: 0.25em;
}

.catalog-container ul > li:last-child {
  border-left: 1px solid transparent;
}

.catalog-enter {
  transform: translateX(-250px);
}
.catalog-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.catalog-exit {
  transform: translateX(0);
}
.catalog-exit-active {
  transform: translateX(-250px);
  transition: transform 500ms;
}
.catalog-switch-enter {
  transform: translateX(-50px);
}
.catalog-switch-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.catalog-switch-exit {
  opacity: 1;
}
.catalog-switch-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}
.desktop-menu-search {
  background-color: #0d1117;
  height: 30px;
  border: 2px solid #a99f8b;
  border-radius: 5px;
  width: 250px;
  margin: 0 0.5em 0 0.5em;
  padding: 2px 10px 2px 10px;
  font-size: 90%;
}
.desktop-menu-search:focus {
  outline: none;
  color: #fff;
}
.searchbox-container {
  position: fixed;
  top: 40px;
  left: 76px;
  background-color: #0d1117;
  width: 400px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #a99f8b;
  border-radius: 0 0 10px 10px;
  max-height: 600px;
  overflow: scroll;
  outline: none;
}
.back-to-top {
  position: fixed;
  bottom: 0;
  width: 65px;
  right: 0px;
  display: inline;
  background-color: black;
  z-index: 1001;
  padding: 0;
  margin: 0;
}
.markdown-area {
  max-width: 100%;
  min-width: 100%;
  border: 0px solid #e9e9e9;
  box-shadow: 0px 0px 3px 0px rgba(41, 41, 41, 0.4);
  overflow: scroll;
  height: 500px;
  background-color: whitesmoke;
}
.markdown-area:focus {
  outline: none;
}
